/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ion-badge-art {
  left: 43px;
  top: 25px;
  z-index: 4;
  position: absolute;
  background-color: var( --ion-color-base);
}
.ion-badge-cart{
  left: -5px;
  z-index: 3;
  position: absolute;
  background-color: var(--ion-color-base);
}
ion-fab {
  ion-badge {
    left: -5px;
    z-index: 3;
    position: absolute;
    background-color: var(--ion-color-base);
    color: #ffffff;
  }
  ion-fab-button {
    --background: var(--ion-color-base);
    --color: #ffffff;

    ion-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
  }

}
ion-button {
  --background: var(--ion-color-base);
  --color: #ffffff
}

ion-toolbar {
  --background: var(--ion-color-base);
  color: #ffffff;
}
img {
  max-width: 200px;
max-height: 200px;
}
.base-header{

  @media (prefers-color-scheme: dark) {
    height: 40%;
    width: 100% !important;
    background-color:  var(--ion-color-base);
  }

  @media (prefers-color-scheme: light) {
    height: 40%;
    width: 100% !important;
    background-color:  var(--ion-color-base);
  }
}

.base-content{
  @media (prefers-color-scheme: dark) {
  height: 75% !important;
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  bottom: 0;
  border-radius: 3em 3em 0 0;
  padding: 2rem;

  .sliders{
    position: absolute;
    top: -6.5rem;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  }

  @media (prefers-color-scheme: light) {
    //height: 60%; // => height para qcuando hay una imagend de fondo
  height: 75% !important; //=> height par cuando la imagen esta dentro de la carta
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  border-radius: 2em 2em 0 0;
  padding: 2rem;

  .sliders{
    position: absolute;
    top: -6.5rem;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  }
}
